body{
    font-size: 1em !important;
    line-height: 1.3;
}
.container{
    max-width: 1200px;
    height: auto;
    margin: auto;
}

.card{
    padding: 1em;
    background: $grey-30;
}

.card-sm{
    padding: 0.5em;
    background: $grey-30;
}

.title{
    margin: 1em 0 0.5em;
    font-size: 1.5em;
    font-weight: bold
}

.pad-1{
    padding: 1em;
}

.mar-1{
    margin: 1em;
}

.jst-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

